<div class="app-header">
    <div class="logo">
        <img src="../logo.png" />
    </div>
    <div class="header-text">
        solr simple query
    </div>
</div>
<form class="col-md-12 content-class">
    <div class="form-group col-md-6 settings-column"> 
        <connectionsettings class="form-group col-md-12"></connectionsettings>
        <div class="form-group col-md-12">
            <filterfieldlist></filterfieldlist>
        </div>
        <div class="form-group col-md-12">
            <fieldlistfieldlist [showLabel]="true"></fieldlistfieldlist>
        </div>
        <filter></filter>
    </div>
    <div *ngIf="sessionStateService.queryResultJson" class="col-md-6 result-column">
        <div class="form-group col-md-12 top-spaced">
            <select class="form-control" [(ngModel)]="jsonFormat" name="jsonFormat" style="width: 200px;">
                <option>Raw</option>
                <option>Formatted</option>
            </select>
            <div *ngIf="jsonFormat === 'Raw'" >
                <prettyjson [obj]="sessionStateService.queryResultJson" class="result-column"></prettyjson>
            </div>
            <div  *ngIf="jsonFormat === 'Formatted'" >
                <json-formatter [json]="sessionStateService.queryResultJson" class="result-column"></json-formatter>
            </div>
        </div>
    </div>
</form>
<ajax-spinner></ajax-spinner>