html, body {
    height: 100vh;
    overflow: hidden;
}

.settings-column {
    position:static; 
    background-color: whitesmoke; 
    height:100vh;
    overflow: hidden;
    padding: 0px;
    padding-top: 15px;
    border-radius: 3px;
    margin-top: 5px;
}

.result-column {
    height: 92vh;
    min-height: 92vh;
    overflow-x: auto; 
    overflow-y: auto;
}

.app-header {
	position: relative;
	padding-top: 6px;
	color: white;
	background-color: #F8B000;
	border-bottom: 2px solid #6EC8E5;
	height: 47px;
	padding: 0;
}

.app-header .logo {
	margin-top: 0.5rem;
}

.logo {
    position: relative;
    float: left;
	height: 36px;
	width: 100px;
	height: 32px;
	width: 94px;
    margin-left: 15px;
    margin-right: 20px;
}

.header-text {
    position: relative;
    float: left;
    padding-top: 12px;
    font-size: 12pt;
}

.content-class {
    background-color: white;
}

::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 12px rgba(0,0,0,0.5); 
}