<div class="form-group col-md-6">
	<label control-label col-sm-2>Api endpoint url</label>
	<input type="text" [(ngModel)] = "this.sessionStateService.persistenceModel.selectedApiEndPoint" (change)="emitSettingsChangedEvent()" class="form-control"/>
</div>
<div class="form-group col-md-6">
	<label control-label col-sm-2>Solr endpoint url</label>
	<select class="form-control" (change)="indexerEndPointUpdated($event)" [(ngModel)]="this.sessionStateService.persistenceModel.selectedIndexerEndPoint" name="indexerendpoint">
		<option *ngFor="let item of indexerEndPoints" [ngValue]="item">{{item}}</option>
	</select>
</div>
<div class="form-group col-md-2">
	<label control-label>Solr channel</label>
	<select class="form-control" (change)="indexerChannelUpdated($event)"  [(ngModel)]="this.sessionStateService.persistenceModel.selectedIndexerChannel" name="indexerchannel">
		<option *ngFor="let item of indexerChannels" [ngValue]="item">{{item}}</option>
	</select>
</div>  
<div class="form-group col-md-2">
	<label control-label>Rows</label>
	<input type="text" [(ngModel)] = "this.sessionStateService.persistenceModel.selectedRows" name="rows" class="form-control"/>
</div>
<div class="form-group col-md-2">
	<label control-label>Start</label>
	<input type="text" [(ngModel)] = "this.sessionStateService.persistenceModel.selectedStart" name="start" class="form-control"/>
</div>

